---
faq:
  - question: Chúng tôi là ai??
    answer: VNPT SmartCloud là kết quả trong một thời gian dài của đội ngũ lãnh đạo và nhân viên VNPT. Với sự nỗ lực, nghiên cứu, phát triển, học hỏi và sáng tạo không ngừng, áp dụng những công nghệ ảo hóa tiên tiến nhất trên thế giới, phần mềm ảo hóa KVM, VNPT đã xây dựng thành công dịch vụ VNPT SmartCloud. Với uy tín, kinh nghiệm, thế mạnh hạ tầng, công nghệ tiên tiến ,VNPT đảm bảo chất lượng dịch vụ cung cấp, khả năng vận hành hệ thống thông suốt với tính sẵn sàng và mức độ an ninh bảo mật cao.
  - question: VNPT SmartCloud hỗ trợ những hệ điều hành nào?
    answer: `Linux:` Ubuntu 14.04 x64, CentOS 7, CentOS 6.5 x64, Debian 7, Fedora-21.64. `Windows:` Server 2008 R2 ENTERPRISE, Server 2012 R2 ENTERPRISE
  - question:   Làm thế nào để khôi phục mật khẩu của máy ảo?
    answer: Khi khách hàng bị mất hoặc quên mật khẩu của máy ảo thì cần xử lý như thế nào ?
    Hiện nay portal của dịch vụ chưa cung cấp cơ chế tự khôi phục mật khẩu. Trong trường hợp bị quên hoặc mất mật khẩu của máy chủ, khách hàng cần liên hệ trực tiếp với nhân viên hỗ trợ để được cấp lại mật khẩu.

  - question: Khách hàng có thể tự cài hệ điều hành được không?
    answer: Đối với hình thức cung cấp máy chủ trên nền tảng cloud, các máy chủ này sẽ được khởi tạo theo cơ chế template của hệ điều hành. Nghĩa là các hệ điều hành đã được đóng gói sẵn, khách hàng không cần thực hiện các bước thao tác như cài đặt truyền thống. Điều này giúp cho việc khởi tạo máy chủ được nhanh chóng hơn (trung bình từ 20 giây – 60 giây) ..
  - question: Resize và Rebuild là như thế nào ?
    answer: Trên hệ thống VNPT SmartCloud cung cấp hình thức Reszie và Rebuild với máy ảo.
    Resize là hình thức được sử dụng khi khách hàng có nhu cầu thay đổi gói dịch vụ (RAM, CPU, DISK), đối với Resize chỉ hỗ trợ cơ chế tăng chứ không giảm. Trong hình thức này sẽ có downtime từ 10-30s và dữ liệu của khách hàng được giữu nguyên.
    Rebuild là hình thức được sử dụng khi khách hàng có nhu cầu thay đổi hệ điều hành hoặc tạo máy ảo mới mà vẫn giữ nguyên thời gian đăng ký dịch vụ trước đó. Đối với rebuild sẽ gây mất toàn bộ dữ liệu của khách hàng. Khách hàng cần cân nhắc trước khi thực hiện việc này. 
    Lưu ý: Đối với máy ảo được tạo từ volume thì khách hàng không chủ động rebuild được (tức là không thay được hệ điều hành). Đối với trường hợp này cần hỗ trợ của nhà cung cấp.
.
---

<h1> HỎI ĐÁP </h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>