---
faq:
  - question: Chúng tôi là ai?
    answer: VNPT SmartCloud là kết quả trong một thời gian dài của đội ngũ lãnh đạo và nhân viên VNPT. Với sự nỗ lực, nghiên cứu, phát triển, học hỏi và sáng tạo không ngừng, áp dụng những công nghệ ảo hóa tiên tiến nhất trên thế giới, phần mềm ảo hóa KVM, VNPT đã xây dựng thành công dịch vụ VNPT SmartCloud. Với uy tín, kinh nghiệm, thế mạnh hạ tầng, công nghệ tiên tiến ,VNPT đảm bảo chất lượng dịch vụ cung cấp, khả năng vận hành hệ thống thông suốt với tính sẵn sàng và mức độ an ninh bảo mật cao.
  - question: Dịch vụ MyCloudVNN là gì?
    answer: Dịch vụ IaaS dựa trên nền tảng mã nguồn mở, cung cấp máy ảo và các dịch vụ lưu trữ khác
  - question: Cách thức thanh toán dịch vụ như thế nào?
    answer: Bạn có thể thanh toán qua tài khoản hoặc thanh toán trực tiếp..
  - question: Có những loại hệ điều hành nào được hỗ trợ?
    answer:Dịch vụ hỗ trợ các máy chủ `Linux` và `Windows`
  - question: Tôi có thể làm đại lý được không?
    answer: Có, bạn có thể đăng ký chính sách đại lý qua thông tin liên hệ của chúng tôi.
---

<h1> HỎI ĐÁP </h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>